/*------------------------------------------------------------------
Timber Framework
Version: 1.9.7;
Author: ThemeMountain
Copyright: ThemeMountain
License: MIT

[Table of contents]

1. Common
2. Timber Grid
3. Helper Classes
4. Prototype Classes
5. Main Navigation
6. Side Navigation
7. Overlay Navigation
8. Images
9. Content Grids
10. Feature Columns
11. Form Elements
12. Buttons
13. Dropdowns
14. Lists
15. Menu Lists
16. Timeline
17. Tabs
18. Accordion
19. Tables
20. Pricing Tables
21. Boxes
22. Labels
23. Charts
24. Range Slider
25. Video & Audio
26. Dividers
27. Typography
28. Blockquotes
29. Breadcrumb
30. Code & Pre
31. Font Icons
32. Color & Shadow Classes
33. Animation
34. Media Queries
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[12. Buttons]
*/
.button-group{
	margin-bottom: 3rem;
}
button, 
.button{
	padding: 1.3rem 2.5rem;
	margin: 0 1rem 1rem 0;
	font-family: inherit;
    font-size: 1.3rem;
    color: #4d008c;
	background-color: #26fcb1;
	border: 1px solid #26fcb1;
    font-weight: normal;
    vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance:	none;
			appearance:	none;
}
.left-on-mobile button,
.left-on-mobile .button{
	margin-right: 1rem;
	margin-left: 0;
}
.center button,
.center .button,
.center-on-mobile button,
.center-on-mobile .button{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
.right button + button,
.right .button + .button,
.right-on-mobile button + button,
.right-on-mobile .button + .button{
	margin-right: 0;
	margin-left: 1rem;
}
form button, 
form .button{
	margin-right: 0 !important;
	margin-left: 0 !important;
}
button:focus, 
.button:focus{
	outline: none;
}
button:hover, 
.button:hover{
	text-decoration: none;
	color: #26fcb1 ;
	background-color: #4d008c;
	border-color: #4d008c;
}
/* Sizes */
button.small, 
.button.small{
	padding: 1rem 1.5rem;
	font-size: 1.1rem !important;
}
button.medium, 
.button.medium{
	padding: 1.3rem 2.5rem;
	font-size: 1.3rem !important;
}
button.large, 
.button.large{
	padding: 1.6rem 3rem;
	font-size: 1.4rem !important;
}
button.xlarge, 
.button.xlarge{
	padding: 1.9rem 3.5rem;
	font-size: 1.5rem !important;
}

/* Icon Button */
button [class*="icon-"],
.button [class*="icon-"]{
	line-height: inherit;
}
button [class*="icon-"].left,
.button [class*="icon-"].left{
	margin-right: 0.5rem;
}
button [class*="icon-"].right,
.button [class*="icon-"].right{
	margin-left: 0.5rem;
}

/* Button Content */
.button-content > span{
	display: inline-block;
}
.button-content small{
	display: block;
}

/* Firefox Fix */
input[type="submit"]::-moz-focus-inner{
	border: 0 !important;
}

/* Styles */
button.rounded, 
.button.rounded{
	border-radius: 0.3rem;
}
button.pill, 
.button.pill{
	border-radius: 10.5rem;
}
button.shadow, 
.button.shadow{
	-webkit-box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,.3);
	   -moz-box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,.3);
		    box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,.3);
}
button.hard-shadow,
.button.hard-shadow{
	border-bottom: 3px solid rgba(0,0,0,.15);
}
button.disabled, 
.button.disabled{
	cursor: default;
	color: #26fcb1;
	background-color: #f9f9f9;
	border-color: #eeeeee; 
}
button.disabled:hover, 
.button.disabled:hover{
	background-color: #f9f9f9;
	border-color: #eeeeee;
}

/* Button Nav */
.button-nav{
	padding: 0;
	margin: 0;
	list-style: none;
}
.button-nav li{
	margin: 0 1px 0 0;
	float: left;
}
.button-nav li .button.rounded,
.button-nav li button.rounded,
.button-nav li .button.pill,
.button-nav li button.pill{
	border-radius: 0;
}
.button-nav li:first-child .button.rounded,
.button-nav li:first-child button.rounded,
.button-nav.rounded li:first-child .button,
.button-nav.rounded li:first-child button{
	border-radius: 0.3rem 0 0 0.3rem;
}
.button-nav li:last-child .button.rounded
.button-nav li:last-child button.rounded,
.button-nav.rounded li:last-child .button,
.button-nav.rounded li:last-child button{
	border-radius: 0 0.3rem 0.3rem 0;
}
.button-nav li:first-child .button.pill,
.button-nav li:first-child button.pill,
.button-nav.pill li:first-child .button,
.button-nav.pill li:first-child button{
	border-radius: 10.5rem 0 0 10.5rem;
}
.button-nav li:last-child .button.pill,
.button-nav li:last-child button.pill,
.button-nav.pill li:last-child .button,
.button-nav.pill li:last-child button{
	border-radius: 0 10.5rem 10.5rem 0;
}
.button-nav.center li{
	margin-left: -0.3rem;
	display: inline-block;
	float: none;
}

/*------------------------------------------------------------------